<a href='properties/new'>Create new property listing</a>

<h1> Properties: </h1>
<form method="POST" action="/get_property_id">
  <ul>
    <% if @properties %>
      <% @properties.each do |property| %>
        <a href='properties/listing' id="<%= property.id %>">
        <li>
          <%= property.id %>
          <%= property.name %>
          <%= property.price %>
          <%= property.availability %>
          <%= property.description %>
          <%= property.username %>
          <input type="submit" value="<%= property.id %>" name="property_id" placeholder="View Property"/>
        </li>
        </a>
      <% end %>
    <% else %>
      No properties currently listed
    <% end %>
  </ul>
</form>


